<mat-card>
  <h1 class="bold">Login Form</h1>
  <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()"> 
      <mat-error *ngIf = "isError"> 
          {{errorMessage}} 
        </mat-error>
      <div class="example-container">
          <p>
              <mat-form-field appearance="standard">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" placeholder= "example:you@you.com" 
                 [(ngModel)] = "email"
                  name = "email"
                  required> 
                  <mat-hint>please enter a valid address</mat-hint> 
                  <button 
                      mat-button *ngIf="email" 
                      matSuffix mat-icon-button aria-label="Clear" 
                      (click)="email=''"> 
                      <mat-icon>close</mat-icon> 
                 </button>
              </mat-form-field>
          </p>    
          <p>
              <mat-form-field appearance="standard">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'"
                   [(ngModel)] = "password"
                   name = "password"
                   required> 
                  <mat-hint>at least 6 characters</mat-hint> 
                 <button 
                      mat-icon-button matSuffix
                      (click)="hide = !hide" 
                      [attr.aria-label]="'Hide password'" 
                      [attr.aria-pressed]="hide"> 
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> 
                  </button>
              </mat-form-field>
          </p>
      </div>
      <div>
          <button [disabled] = "!loginForm.form.valid" 
              type="submit" mat-raised-button 
              color="warn">
              Login
          </button> 
    </div>
  </form>
</mat-card>