<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" color="MistyRose" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/customers" routerLinkActive="active" *ngIf = "(authService.isSecretary | async)">Customers</a>
      <a mat-list-item routerLink="/addCustomer" routerLinkActive="active" *ngIf = "(authService.isSecretary|async)">Add Customers</a>
      <a mat-list-item routerLink="/leavecustomers" routerLinkActive="active" *ngIf = "(authService.isSecretary|async)">Leave Customers</a>

      <a mat-list-item routerLink="/seaCondition" routerLinkActive="active" *ngIf = "(authService.isGuide | async)">Sea Condition</a>
      <a mat-list-item [routerLink]="['/apiweatherJaffa','jaffa']" routerLinkActive="active" *ngIf = "(authService.isGuide | async)">Jaffa Temperature</a>
      <a mat-list-item [routerLink]="['/apiweatherHerzliya','Herzliya']" routerLinkActive="active" *ngIf = "(authService.isGuide | async)">Herzliya Temperature </a>

      <a mat-list-item routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a mat-list-item routerLink="/register" *ngIf = "!(authService.getUser() | async)">Sign-Up</a> 
      <a mat-list-item (click) = "authService.Logout()" *ngIf = "(authService.getUser() | async)">LogOut</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="titleCenter">Sailor App</span>
      <span class="spacer"></span><!-- כדי שיהיה מרווח בין הלינקים לכותרת "הלו-->
      <!--<a  class="whitelink" mat-list-item routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a class="whitelink" mat-list-item routerLink="/register" *ngIf = "!(authService.getUser() | async)">Sign-Up</a> 
      <a  class="whitelink" mat-list-item (click) = "authService.Logout()" *ngIf = "(authService.getUser() | async)">LogOut</a>-->
      <!--<a class="whitelink" routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a class="whitelink" routerLink="/signup"  *ngIf = "!(authService.getUser() | async)">Sign-Up</a> 
      <a class="whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">LogOut</a>-->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
