.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 30%;
  }

  button {
      margin-left:10px
  }

  .error{
    color:red;
  }

  .bold {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0.5px 0.2px black;
  }